.header-App-logo{
    height:50px;
    padding:0;
    margin:0;
    width:auto;
    float: left;
}

.navbar-brand{
    cursor: default;
}
.navbar-logo{
    height: 50px;
    width:50px;
}
.cart{
    height: 30px;
    width: 30px;
}
.login{
    height: 25px;
    width: 25px;
}